fastapi[all]==0.115.3
pydantic
motor
pydantic-settings==2.3.4
#python-jose
pymongo==4.6.2
pypdf==3.17.4
clean-text==0.6.0
aiofiles==24.1.0
python-multipart==0.0.9
openai==1.35.10
anthropic==0.31.2
ollama==0.3.1
python-keycloak
cryptography==43.0.0
